.main_headershop {
  /* padding: 5px; */
  background-color: rgb(243, 241, 241);

  position: relative;
  z-index: 1000000;
  /* display: flex; */
}
.mainer {
  /* padding: 50px 0; */
  height: 80vh;
}

.shop_title {
  margin: 5px;
  font-weight: 300;
  font-size: 14px;
  transition: width 2s;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.arrower {
  transition: width 0.9s;
  width: 30px;
  height: 1px;
  background-color: #333 !important;
}

.shop_title:hover .arrower {
  width: 80px;
}

.price {
  margin: 5px;
  font-weight: 800;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
}

.shop_flex {
  /* margin: 60px 0; */
  /* border: 1px solid #333; */
  margin: 10px;
  /* width: 500px; */
  /* flex-wrap: nowrap; */
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  width: 100%;
}

.sub_shop {
  height: 70vh;
  width: 100%;
  /* display: flex; */
  /* gap: 10px; */
  /* border: 1px solid #333; */
  position: relative;
}

.slick-dots {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.custom-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff; /* Customize the color */
  margin: 0 auto;
  cursor: pointer;
  padding: 3px;
}

.slick-next {
  display: none;
}

.sub_shop img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slick-list {
  /* margin: 0 -27px; */
}

.custom-slider .slick-slide > div {
  margin: 0 4px;
}
