.newsletter_container {
  z-index: 1000000;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

.news_card {
  transition: 10s all ease;
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 80%; */
  /* height: 80vh; */
  /* margin: 0 auto; */
}
.d {
  position: relative;
}
.rtu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 60px;
  display: none;
}
.fc {
  display: none;
}

@keyframes identifier {
  to {
    rotate: 0deg;
  }
  from {
    rotate: -200deg;
  }
}

.closeicon:hover {
  animation: 1s identifier ease;
}

.news_grid {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fff;
  height: 90vh;
  width: 70%;
  display: grid;
  columns: #333;
  grid-template-columns: 1.5fr 2fr;
}

.news_sub_grid {
}

.news_sub_grid img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  /* aspect-ratio: 1/1; */
}

.news_sub_grid:nth-child(2) {
  padding: 30px;
  position: relative;
}

.closeicon {
  width: 35px;
  height: 35px;
  cursor: pointer;
  color: #333;
}

.close {
  display: flex;
  justify-content: flex-end;
  padding: 0px;
  margin-bottom: 50px;
}
.newstitl {
  text-align: center;
  font-weight: 800;
  margin-bottom: 30px;
  font-size: 20px;
}

.news_para {
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1.6;
  margin-bottom: 30px;
}
.news_input_section {
  width: 100%;
  height: auto;
}
.input input {
  width: 100%;
  outline: none;
  font-size: 15px;
  letter-spacing: 1.1px;
  color: #9c9999;
  /* padding: 1px; */
  height: 50px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #000;
  margin-bottom: 20px;
}

.input input::placeholder {
  font-size: 15px;
  margin-top: 20px;
  color: #b8b6b6;
}
.news_btn button {
  width: 100%;
  padding-inline: 20px;
  height: 50px;
  color: #fff;
  background-color: #333;
  border: none;
  font-size: 17px;
  font-family: "poppins", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  cursor: pointer;
}
.privacy {
  text-align: center;
  font-weight: 200;
  font-size: 14px;
}

@media screen and (max-width: 1141px) {
  .news_grid {
    height: 70vh;
  }
}

@media screen and (max-width: 1015px) {
  .news_sub_grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* aspect-ratio: 1/1; */
  }

  .news_grid {
    /* grid-template-columns: 2fr 1.5fr; */
    max-width: 80%;
  }
}

@media screen and (max-width: 904px) {
  .news_grid {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .news_sub_grid img {
    max-width: 100%;
    height: 250px;
    /* object-fit: cover; */
    aspect-ratio: 1/1;
  }

  .news_sub_grid:nth-child(2) {
    padding: 30px 20px;

    position: relative;
  }

  .close {
    display: none;
  }

  .rtu {
    display: flex;
    padding: 10px;
  }
  .fc {
    display: flex;
    color: #000;
  }
  .newstitl {
    margin-bottom: 5px;
  }
  .news_para {
    text-align: center;
    margin-bottom: 5px;
  }

  .news_btn button {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .news_grid {
    width: 100%;
  }
  .news_sub_grid:nth-child(2) {
    padding: 30px 20px;
    position: relative;
  }
}
