.single_product_grid {
  /* display: grid; */
  gap: 40px;
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  padding: 40px 80px;
  margin-top: 113px;
}
.single_pro_sub_grid1 {
  flex: 0.1;
  width: 50%;
}
.single_pro_sub_grid {
  flex: 1;
}
.single_component {
  height: auto;
  background-color: rgb(243, 241, 241);
}
.single_product_sub_img {
  max-width: 100%;
  margin-bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  height: 100vh;
  object-fit: cover;
}
.hd {
  width: 100%;
}

.singla_name {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.single_titleone {
  font-size: 25px;
  font-weight: 900;
}
.price_set {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.new_price {
  color: crimson;
  font-weight: 300;
  font-size: 20px;
}
.previous_price {
  color: #333;
  font-weight: 300;
  font-size: 20px;
}
.product_desc p {
  text-align: justify;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.single_name {
  color: #333;
  font-size: 14px;
  text-transform: capitalize;
}

.extra {
  margin-top: 20px;
}

.ico_extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  cursor: pointer;
}
.extra_title {
  font-size: 15px;
  color: #333;
}
.extra_p {
  font-size: 14px;
  line-height: 1.3;
  opacity: 80%;
  margin: 10px 0;
}

.lkj {
  width: 100%;
  height: 2px;
  background-color: #bcb3af;
  margin-bottom: 20px;
}

.qua {
  margin-top: 20px;
  display: flex;
  gap: 5px;
}

.checkout_box {
  border: 1px solid #bcb3af;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  padding: 20px;
  margin-top: 50px;
  position: relative;
}
.checkout_title {
  text-align: center;
  right: 0;
  left: 0;
  top: -10px;
  color: #333;
  font-size: 10px;
  background-color: rgb(243, 241, 241);

  width: fit-content;
  margin: 0 auto;
  position: absolute;
}
.checkout_ul {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.checkout_ul img {
  width: 50px;
  object-fit: contain;
}

.elom {
  border: 1px solid #bcb3af;

  padding: 10px;
  width: 70px;
  border-radius: 2px;
  outline: none;
  font-family: "poppins", sans-serif;
  font-size: 15px;
}
.qua button {
  padding-inline: 10px;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  background-color: #333;
  border-radius: 2px;
  outline: none;
  border: 1px solid #bcb3af;
}

@media screen and (max-width: 933px) {
  .single_product_grid {
    padding: 40px 40px;
  }
}
@media screen and (max-width: 830px) {
  .single_product_grid {
    padding: 40px 20px;
  }

  .single_product_sub_img {
    height: 95vh;
  }
  .single_pro_sub_grid1 {
    /* width: 45%; */
  }
}

@media screen and (max-width: 788px) {
  .single_product_grid {
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
  }
  .single_pro_sub_grid1 {
    width: 100%;
  }
}

@media screen and (max-width: 588px) {
  .single_product_sub_img {
    height: 65vh;
  }
  .single_product_grid {
    gap: 10px;
  }
}

@media screen and (max-width: 508px) {
  .single_product_sub_img {
    height: 55vh;
  }
  .single_product_grid {
    gap: 10px;
  }
}