@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");

.word {
  overflow-x: hidden;
  height: 20vh;
  /* background-color: #fff; */
  background-color: rgb(243, 241, 241);

  overflow-y: hidden;
  margin-left: -20px;
  transform: rotate(0deg);


  z-index: 1000;
}

.word h1 {
  /* position: absolute; */
  color: transparent;
  width: 400vw;
  font-size: 3.5em;
  margin: 30px auto;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Raleway";
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #333;
}
